@page
@model FDA.Pages.Clients.IndexModel
@{
}

<br>
<h2>List of Donors</h2>
<a class="btn-primary btn-sm" href="/Clients/Add">New Donors</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Contact Number</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>

    </tbody>
</table>